/* This CSS file is used in context for WP editor. The idea is to match the editor as the front-end */

body {
	background: #c9e5f0;
}

.wp-block {
	max-width: 800px;
}

.wp-block[data-align='full'] {
	max-width: none;
}

.wp-block[data-align='wide'] {
	max-width: 1000px;
}

.has-red-to-blue-gradient-background {
	background: linear-gradient(135deg, #e4064d 0%, #2c59ee 100%);
}

.has-green-to-yellow-gradient-background {
	background: linear-gradient(135deg, #3ce406 0%, #d6e029 100%);
}
